.product-page {
  background: #fafafa;
}

/* ===== IMAGE SECTION ===== */

.main-image-wrapper {
  background: #f3f4f6;
  border-radius: 20px;
  padding: 30px;
  overflow: hidden;
}

.main-image {
  width: 100%;
  max-height: 450px;
  object-fit: contain;
  transition: transform 0.4s ease;
}

.main-image-wrapper:hover .main-image {
  transform: scale(1.1);
}

/* Thumbnails */

.thumbnail-row {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.thumbnail {
  width: 70px;
  height: 70px;
  object-fit: contain;
  background: white;
  border-radius: 12px;
  padding: 8px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

.thumbnail:hover {
  border-color: #111827;
}

.thumbnail.active {
  border-color: black;
}

/* ===== DETAILS ===== */

.product-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.rating {
  margin-bottom: 20px;
  color: #6b7280;
}

/* ===== PRICE SECTION ===== */

.price-section {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
}

.discount {
  
  color: red;
  padding: 6px 6px;
  
  font-size: 14px;
}

.final-price {
  font-size: 28px;
  font-weight: 700;
  color: #16a34a;
  animation: popIn 0.6s ease;
}

.original-price {
  text-decoration: line-through;
  color: #9ca3af;
}

@keyframes popIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* ===== DESCRIPTION ===== */

.description {
  color: #4b5563;
  line-height: 1.6;
}

/* ===== BUTTONS ===== */

.button-group {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.btn-outline {
  flex: 1;
  padding: 12px;
  border: 2px solid black;
  background: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-outline:hover {
  background: black;
  color: white;
}

.btn-primary {
  flex: 1;
  padding: 12px;
  border: none;
  background: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-primary:hover {
  background: #111827;
}

/* ===== SIMILAR PRODUCTS ===== */

.similar-section h4 {
  margin-bottom: 20px;
}

.similar-card {
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.similar-card img {
  height: 160px;
  object-fit: contain;
  margin-bottom: 10px;
}

.similar-card:hover {
  transform: translateY(-5px);
}
